<h1 class="title">Resultados (<%= @users.total_count %>)</h1>
<hr/>

<table>
  <tbody>
    <tr>
      <th>Apellido:</th><td><%= params[:last_name] %></td>
      <th>Nombre:</th><td><%= params[:first_name] %></td>
      <th>Entró en:</th><td><%= params[:first_year] %></td>
    </tr>
    <tr>
      <th>Empresa:</th><td><%= params[:company] %></td>
      <th>Cargo:</th><td><%= params[:job] %></td>
      <th></th><td></td>
    </tr>
    <tr>
      <% country = ISO3166::Country[params[:country][0]] %>
      <th>País:</th><td><%= country.translations[I18n.locale.to_s] || country.name if country %></td>
      <th>Ciudad</th><td><%= params[:city] %></td>
      <th></th><td></td>
  </tbody>
</table>

<hr/>

<div class="columns is-multiline">
  <% @users.each do |user|%>
  <div class="column is-4">
    <%= card(user) %>
  </div>
  <% end %>
</div>

<%= paginate @users, theme: 'bulma' %>
