<div class="box">
  <% if policy(@user).edit? %>
    <%= link_to edit_user_path(@user), class: 'button pull-right is-primary' do %>
      <span class="icon is-small">
        <i class="fa fa-pencil"></i>
      </span>
      <span>Modificar</span>
    <% end %>
  <% end %>
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
        <%= image_tag avatar_url(@user), class: 'image is-96x96' %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
        <strong><%= @user.full_name %></strong>
        <br>
        Entró en <%= @user.first_year %>
        <div style="line-height: 70%">
        <small>Última conexión: <%= time_ago_in_words @user.last_sign_in_at %></small>
        <br>
        <small>Última actualización: <%= time_ago_in_words @user.updated_at %></small>
        </div>
      </p>
      </div>
    </div>
  </article>

  <div id="personal-contact-tab-container" class="tabs is-boxed" style="margin-top: 20px">
    <ul>
      <% @user.personal_contacts.each_with_index do |personal_contact, index| %> 
        <li><a href="#personal-contact-<%= index+1 %>">Contacto personal <%= index+1 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="personal-contact-tab-panel">
    <% @user.personal_contacts.each_with_index do |personal_contact, index| %> 
      <div id="personal-contact-<%= index+1 %>">
        <div style="margin: 20px 0px" >
          <% if personal_contact.phone.present? %>
          <span class="icon is-small">
            <i class="fa fa-phone"></i>
          </span> <a href="tel:<%= personal_contact.phone %>"><%= personal_contact.phone %></a>
          |
          <% end %>
          <% if personal_contact.mobile.present? %>
          <span class="icon is-small">
              <i class="fa fa-mobile"></i>
          </span> <a href="tel:<%= personal_contact.mobile %>"><%= personal_contact.mobile %></a>
          |
          <% end %>
          <% if personal_contact.email.present? %>
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span> <%= mail_to personal_contact.email %>
          <% end %>
        </div>
        <div>
          <% if personal_contact.address_1.present? %>
            <img style="float:left; margin-bottom: 27px" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x150&markers=<%= personal_contact.latitude %>, <%= personal_contact.longitude %>&key=<%= ENV['GOOGLE_API_KEY'] %>" />
          <pre style="display: inline-block; padding: 7px; margin-left: 7px"><%= personal_contact.address %></pre>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#personal-contact-tab-container').easytabs({
        animate: false,
        tabActiveClass: "is-active",
        panelContext: $("#personal-contact-tab-panel")
      });
    });
  </script>

  <div id="profesional-contact-tab-container" class="tabs is-boxed" style="clear: both; margin-top: 20px">
    <ul>
      <% @user.profesional_contacts.each_with_index do |profesional_contact, index| %> 
        <li><a href="#profesional-contact-<%= index+1 %>">Contacto profesional <%= index+1 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="profesional-contact-tab-panel">
    <% @user.profesional_contacts.each_with_index do |profesional_contact, index| %> 
      <div id="profesional-contact-<%= index+1 %>">

        <div>
          <div style="float: left; margin-right: 7px"><%= company_logo(profesional_contact) %></div>
          <p style="padding-top: 2px">
          <strong><%= profesional_contact.job %></strong><br/>
          <%= profesional_contact.company %><br/>
          <% if profesional_contact.company_website %> 
            <%= link_to profesional_contact.company_website %>
          <% end %>
          </p>
        </div>
        <div style="clear:both; margin: 20px 0px" >
          <% if profesional_contact.phone.present? %>
          <span class="icon is-small">
            <i class="fa fa-phone"></i>
          </span> <a href="tel:<%= profesional_contact.phone %>"><%= profesional_contact.phone %></a>
          |
          <% end %>
          <% if profesional_contact.mobile.present? %>
          <span class="icon is-small">
              <i class="fa fa-mobile"></i>
          </span> <a href="tel:<%= profesional_contact.mobile %>"><%= profesional_contact.mobile %></a>
          |
          <% end %>
          <% if profesional_contact.email.present? %>
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span> <%= mail_to profesional_contact.email %>
          <% end %>
        </div>
        <div>
          <% if profesional_contact.address_1.present? %>
            <img style="float:left; margin-bottom: 7px" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x150&markers=<%= profesional_contact.latitude %>, <%= profesional_contact.longitude %>&key=<%= ENV['GOOGLE_API_KEY'] %>" />
          <pre style="display: inline-block; padding: 7px; margin-left: 7px"><%= profesional_contact.address %></pre>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#profesional-contact-tab-container').easytabs({
        animate: false,
        tabActiveClass: "is-active",
        panelContext: $("#profesional-contact-tab-panel")
      });
    });
  </script>

  <hr style="clear: both;" class="full-width"/>

  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Uniandes</p>
      <p class="title"><%= uniandes_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Linkedin</p>
      <p class="title"><%= linkedin_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Facebook</p>
      <p class="title"><%= facebook_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">vCard</p>
      <p class="title"><%= vcard_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">CV</p>
      <p class="title"><%= cv_tag(@user) %></p>
    </div>
  </nav>
</div>
