<div class="box">
  <% if policy(@user).edit? %>
    <%= link_to edit_user_path(@user), class: 'button pull-right is-primary' do %>
      <span class="icon is-small">
        <i class="fa fa-pencil"></i>
      </span>
      <span>Modificar</span>
    <% end %>
  <% end %>
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
        <%= image_tag avatar_url(@user), class: 'image is-96x96' %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
        <strong><%= @user.full_name %></strong>
        <br>
        Entro en <%= @user.graduate_year %>
      </p>
      </div>
    </div>
  </article>

  <hr class="full-width"/>

  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Uniandes</p>
      <p class="title"><%= uniandes_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Linkedin</p>
      <p class="title"><%= linkedin_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Facebook</p>
      <p class="title"><%= facebook_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">vCard</p>
      <p class="title"><%= vcard_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">CV</p>
      <p class="title"><%= cv_tag(@user) %></p>
    </div>
  </nav>
</div>
