<div class="box">
  <% if policy(@user).edit? %>
    <%= link_to edit_user_path(@user), class: 'button pull-right is-primary' do %>
      <span class="icon is-small">
        <i class="fa fa-pencil"></i>
      </span>
      <span>Modificar</span>
    <% end %>
  <% end %>
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
        <%= image_tag avatar_url(@user), class: 'image is-96x96' %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
        <strong><%= @user.full_name %></strong>
        <br>
        Entro en <%= @user.graduate_year %>
      </p>
      </div>
    </div>
  </article>

  <div id="personal-contact-tab-container" class="tabs is-boxed">
    <ul>
      <% @user.personal_contacts.each_with_index do |personal_contact, index| %> 
        <li><a href="#personal-contact-<%= index+1 %>">Contacto personal <%= index+1 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="personal-contact-tab-panel">
    <% @user.personal_contacts.each_with_index do |personal_contact, index| %> 
      <div id="personal-contact-<%= index+1 %>">
        Dirrecion:
        <pre><%= personal_contact.address %></pre>
          
        <p>
          <span class="icon is-small">
            <i class="fa fa-phone"></i>
          </span> <%= personal_contact.phone %>
        </p>

        <p>
          <span class="icon is-small">
              <i class="fa fa-mobile"></i>
          </span> <%= personal_contact.mobile %>
        </p>

        <p>
          <span class="icon is-small">
            <i class="fa fa-envelope"></i>
          </span> <%= personal_contact.email %>
        </p>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#personal-contact-tab-container').easytabs({
        animate: false,
        tabActiveClass: "is-active",
        panelContext: $("#personal-contact-tab-panel")
      });
    });
  </script>


  <hr class="full-width"/>

  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Uniandes</p>
      <p class="title"><%= uniandes_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Linkedin</p>
      <p class="title"><%= linkedin_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Facebook</p>
      <p class="title"><%= facebook_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">vCard</p>
      <p class="title"><%= vcard_tag(@user) %></p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">CV</p>
      <p class="title"><%= cv_tag(@user) %></p>
    </div>
  </nav>
</div>
