<!DOCTYPE html>
<html>
  <head>
    <title>Compuandes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <section class="hero is-fullheight" style="background-image: url(<%= image_path('ML') %>); background-size: cover; background-position: center;">
      <div class="hero-body">
        <div class="container">
          <h1 class="title" style="color: white">
            Compuandes
          </h1>
          <h2 class="subtitle">
            Asociacion de egresados de ingenieria de<br/> sistemas
            de la Universidad de Los Andes
          </h2>
          <%= link_to new_user_session_path, class: 'button', style: 'background-color: #FDF21C; border: none' do %>
            <span class="icon">
              <%= image_tag "logo_uniandes", size: '21x24' %>
            </span>
            <span>Ingresa con Uniandes</span>
          <% end %>
        </div>
      </div>
    </section>

  </body>
</html>
