<%= simple_form_for @user, url: wizard_path, method: :put do |f| %>

  <h1>Infos</h1>

  <%= f.label :avatar, class: 'label' %>
  <p class="control">
    <%= f.input_field :avatar %>
  </p>

  <% if @profile %>
    <%= check_box_tag :use_linkedin_profile_picture, "1", true %> <%= label_tag :use_linkedin_profile_picture, 'Usar la imagen de perfil de LinkedIn' %>
  <% end %>

  <%= f.input :last_name, input_html: {value: (@profile.last_name if @profile)}, wrapper: false %>
  <%= f.input :first_name, input_html: {value: (@profile.first_name if @profile)}, wrapper: false %>
  <%= f.input :first_year, wrapper: false %>
  <%= f.hidden_field :linkedin, value: (@profile.public_profile_url.split('/')[-1] if @profile) %>

  <h1>Personal contact</h1>

  <div id="personal-contact-tab-container" class="tabs is-boxed">
    <ul>
      <% @user.personal_contacts.each_with_index do |personal_contact, index| %> 
        <li><a href="#personal-contact-<%= index+1 %>">Contacto personal <%= index+1 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="personal-contact-tab-panel">
    <% @user.personal_contacts.each_with_index do |personal_contact, index| %> 
      <div id="personal-contact-<%= index+1 %>">
        <%= f.simple_fields_for :personal_contacts, personal_contact do |fa| %>
          <%= fa.input :address_1, wrapper: false %>
          <%= fa.input :address_2, wrapper: false %>
          <%= fa.input :address_3, wrapper: false %>
          <%= fa.input :extra, wrapper: false %>
          <%= fa.input :country, wrapper: false %>
          <%= fa.input :state, wrapper: false %>
          <%= fa.input :zip_code, wrapper: false %>
          <%= fa.input :city, wrapper: false %>
          <%= fa.input :phone, wrapper: false %>
          <%= fa.input :mobile, wrapper: false %>
          <%= fa.input :email, wrapper: false %>
        <% end %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#personal-contact-tab-container').easytabs({
        animate: false,
        tabActiveClass: "is-active",
        panelContext: $("#personal-contact-tab-panel")
      });
    });
  </script>

  <p class="control">
    <%= f.button :submit, value: 'Guardar', class: 'button is-primary' %>
    <%= link_to 'Omitir', next_wizard_path, :class => 'button is-link' %>
  </p>
<% end %>
