<!DOCTYPE html>
<html>
  <head>
    <title>Compuandes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.28/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/jquery-jvectormap-2.0.3.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="/jquery-jvectormap-continents-mill.js"></script>
    <script src="/jquery-jvectormap-africa-mill.js"></script>
    <script src="/jquery-jvectormap-asia-mill.js"></script>
    <script src="/jquery-jvectormap-europe-mill.js"></script>
    <script src="/jquery-jvectormap-north_america-mill.js"></script>
    <script src="/jquery-jvectormap-oceania-mill.js"></script>
    <script src="/jquery-jvectormap-south_america-mill.js"></script>
  </head>
  <body>
    <nav class="nav has-shadow">
      <div class="container is-fluid">
        <div class="nav-left">
          <%= active_link_to 'Directorio', users_path, class: 'nav-item is-tab', class_active: 'is-active', active: :exclusive %>
          <%= active_link_to 'Mi perfil', user_path(current_user), class: 'nav-item is-tab', class_active: 'is-active', active: :exclusive %>
          <%= active_link_to 'Mapa', users_map_path, class: 'nav-item is-tab', class_active: 'is-active', active: :exclusive %>
          <%= active_link_to 'Servicios', services_path, class: 'nav-item is-tab', class_active: 'is-active', active: :exclusive %>
        </div>
      </div>

      <div class="nav-right">
        <span class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: 'button is-danger is-outlined') %>        
        </span>
      </div>
    </nav>

    <section class="section">
      <div class="container is-fluid">
      

        <% flash.each do |key, msg| %>
          <div class="notification">
            <button class="delete"></button>
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
          <strong>Compuandes</strong> por <a href="https://www.github.com/ylecuyer">Yoann Lecuyer</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
          </p>
          <p>
          <a class="icon" href="https://github.com/ylecuyer/compuandes">
            <i class="fa fa-github"></i>
          </a>
          </p>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      $(function() {
        $('.notification .delete').click(function() {
          $(this).parent().remove();
        }); 
      });
    </script>
  </body>
</html>
