<!DOCTYPE html>
<html>
<head>
  <title>Compuandes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Directorio', users_path %>
<%= link_to 'Mi perfil', user_path(current_user) %>

<%= yield %>

</body>
</html>
